# X (Twitter) API認証情報
# Twitter Developer Portal (https://developer.twitter.com/) で取得
TWITTER_API_KEY=your_api_key_here
TWITTER_API_SECRET=your_api_secret_here
TWITTER_ACCESS_TOKEN=your_access_token_here
TWITTER_ACCESS_TOKEN_SECRET=your_access_token_secret_here
TWITTER_BEARER_TOKEN=your_bearer_token_here

# 365botGary アカウント用の認証情報（オプション、別アカウントの場合）
TWITTER_365BOT_API_KEY=
TWITTER_365BOT_API_SECRET=
TWITTER_365BOT_ACCESS_TOKEN=
TWITTER_365BOT_ACCESS_TOKEN_SECRET=

# pursahsgospel アカウント用の認証情報（オプション、別アカウントの場合）
TWITTER_PURSAHS_API_KEY=
TWITTER_PURSAHS_API_SECRET=
TWITTER_PURSAHS_ACCESS_TOKEN=
TWITTER_PURSAHS_ACCESS_TOKEN_SECRET=

# ブログURL設定
BLOG_365BOT_URL=http://notesofacim.blog.fc2.com/
TWITTER_365BOT_HANDLE=365botGary

BLOG_PURSAHS_URL=https://www.ameba.jp/profile/general/pursahs-gospel/
TWITTER_PURSAHS_HANDLE=pursahsgospel

# 投稿設定
POST_INTERVAL_HOURS=24
MAX_POST_LENGTH=280


